/* You can add global styles to this file, and also import other style files */
$azul: #4286f4;

body{
    margin: 0;
}

form{
    input{
        height: 35px;
        font-size: 18px;
        border: 1px solid #aaa;
        width: 98%;
        margin: 5px;
        border-radius: 10px;
        padding: 0 5px;
        box-sizing: border-box;
    }

    button{
        padding: 10px;
        border: 0;
        font-size: 18px;
        background-color: #db9017;
        border-radius: 10px;
        color: white;
        float: right;
        margin: 5px;
    }
}